<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Mapping Page</div>
            <div class="panel-body">
                <div ng-if="error" class="alert alert-danger">{{error}}</div>
                <form name="mappingForm" ng-submit="doMapping(formData)">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="password">Default password</label>
                                <input type="text" class="form-control" id="password" ng-model="formData.password" required="required">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status">Default status</label>
                                <select class="form-control" id="status" ng-model="formData.status" required="required">
                                    <option></option>
                                    <option value="active">Active</option>
                                    <option value="suspended">Suspended</option>
                                    <option value="disabled">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <map-table map-table-data="fileData" map-table-model="formData.columns"></map-table>
                </form>
            </div>
            <div class="panel-footer text-right">
                <a href="/#/" class="btn btn-default">Back to File Upload</a>
                <button type="submit"  ng-disabled="!mappingForm.$valid" ng-click="doMapping(formData)" class="btn btn-success">Preview</button>
            </div>
        </div>
    </div>
</div>