<div ng-if="!rowSaved" class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Preview Page</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div ng-if="error" class="alert alert-danger">{{error}}</div>
                        <dl class="dl-horizontal">
                            <dt>Default password</dt>
                            <dd>{{fileData.password}}</dd>

                            <dt>Default Status</dt>
                            <dd>{{fileData.status}}</dd>
                        </dl>
                        <table class="table table-bordered">
                            <tr>
                                <th ng-repeat="column in columns">
                                    {{column}}
                                </th>
                                <th ng-if="(columns.indexOf('password') === -1)">

                                    Password
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>

                            <tr ng-repeat="row in fileData.rows">
                                <td ng-repeat="(index, cell) in row track by $index">
                                    {{cell}}
                                    <span ng-if="!cell && (index===columns.indexOf('password'))">
                                        {{fileData.password}}
                                    </span>
                                </td>
                                <td ng-if="columns.indexOf('password')===-1">
                                    {{fileData.password}}
                                </td>

                                <td>
                                    {{fileData.status}}
                                </td>
                            </tr>

                            <tr ng-if="mapTableData.total > 1">
                                <td colspan="{{mapTableData.rows[0].length}}" class="text-center">
                                    ...
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
            </div>

            <div class="panel-footer text-right">
                <a href="/#/mapping" class="btn btn-default">Back to Mapping</a>
                <button type="submit"  ng-click="save()" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="rowSaved" class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Congratulation</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        Thanks. {{rowSaved}} rows were saved.
                    </div>

                </div>
            </div>

            <div class="panel-footer text-right">
                <a href="/#/" class="btn btn-success">Back to Upload page</a>
            </div>
        </div>
    </div>
</div>