<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Upload Form</div>
            <div class="panel-body">
                <form name="fileUploadForm" ng-submit="uploadForm(formData)">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="excelFile">Excel file</label>
                                <input type="file" id="excelFile" class="form-control" ng-model="formData.excelFile" fileread="formData.excelFile" required="required"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="password">Default password</label>
                                <input type="text" class="form-control" id="password" ng-model="formData.password" required="required">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status">Default status</label>
                                <select class="form-control" id="status" ng-model="formData.status" required="required">
                                    <option></option>
                                    <option value="active">Active</option>
                                    <option value="suspended">Suspended</option>
                                    <option value="disabled">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right"><button ng-disabled="!fileUploadForm.$valid" type="submit" ng-click="uploadForm(formData)" class="btn btn-success">Submit</button></div>
        </div>
    </div>
</div>