<table ng-if="mapTableData.rows.length > 0" class="table table-bordered">
    <tr>
        <th ng-repeat="(index,cell) in mapTableData.rows[0] track by $index">
            <select class="form-control" ng-model="mapTableModel[index]" ng-change="change(index, '{{mapTableModel[index]}}')">
                <option ng-repeat="field in fields">{{field.name}}</option>
            </select>
        </th>
    </tr>

    <tr ng-repeat="row in mapTableData.rows track by $index">
        <td ng-repeat="cell in row track by $index">
            {{cell}}
        </td>
    </tr>

    <tr ng-if="mapTableData.highestRow > 9">
        <td colspan="{{mapTableData.rows[0].length}}" class="text-center">
            ...
        </td>
    </tr>

</table>

<div ng-if="!mapTableData || !mapTableData.rows || mapTableData.rows.length == 0" class="alert alert-danger" role="alert">There are no rows in excel file</div>